@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.BookList {
  text-align: center;
}

.BsBookHalf {
  font-size: 10em;
  margin-top: 50px;
  color: #854370;
}

.BookList h1 {
  color: #f0f3e8;
  font-family: 'Orelega One', cursive;
  letter-spacing: 5px;
  font-size: 2.5em;
}

.bookListBanner {
  padding-top: 20px;
  padding-bottom: 18px;
  background: #854370;
  margin-bottom: 40px;
}

.bookListGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 150px;
  row-gap: 10px;
  margin-left: 45px;
  margin-right: 45px;
}

.bookCard {
  border-left: 10px solid #4c4c4c;
  padding: 20px;
  border-radius: 3px;
  height: 150px;
  box-shadow: 10px 10px 8px #888888;
}
