@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.BookShelf {
  text-align: center;
}

.ImBooks {
  font-size: 10em;
  color: #854370;
  padding-left: 40px;
}

.bookShelfGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 150px;
  row-gap: 10px;
  margin-left: 45px;
  margin-right: 45px;
}

.bookShelfCard {
  border-left: 10px solid #4c4c4c;
  padding: 20px;
  border-radius: 3px;
  height: 150px;
  box-shadow: 10px 10px 8px #888888;
}

.bookShelfCard a {
  color: white;
  letter-spacing: 2.5px;
  font-family: 'Orelega One', cursive;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.BookShelf h1 {
  color: #854370;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 6em;
  margin-bottom: 5px;
  margin-top: 15px;
}

.bookShelfBanner {
  padding-top: 5px;
  padding-bottom: 25px;
  background: #d8dad0;
  margin-bottom: 40px;
  border-bottom: 10px solid #8d795f;
}

.bookShelfBanner p {
  margin: 0;
}

#bookShelfQuote {
  font-size: 2.2em;
  opacity: 60%;
}

#emptyBookShelf {
  /* margin-left: 280px;
  margin-right: 280px; */
  color: #4c4c4c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 400px;
}

#emptyBookShelfMessage {
  /* width: 600px; */
  /* line-height: 30px;
  font-size: 18px; */
  margin-left: 100px;
  margin-right: 100px;
}
