@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Work+Sans:wght@900&display=swap');

.BookNewForm {
  text-align: center;
}

.bookNewFormBanner {
  display: grid;
  grid-template-columns: 1.5fr .75fr;
  background: #4f3d27;
  margin-bottom: 20px;
  border-bottom: 10px solid #8ac4a1;
}

#bookNewBannercol1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 75px;
  padding-right: 210px;
}

#newBookQuote {
  font-size: 2em;
  opacity: 70%;
  color: #d9d9d9;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-right: 50px;
}

.bookNewFormBanner h2 {
  color: #f0f3e8;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  text-align: left;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  letter-spacing: 27px;
  padding-left: 20px;
  padding-bottom: 17px;
}

.bookNewFormBanner h1 {
  color: 	#a97b9a;
  font-family: 'Work Sans', sans-serif;
  font-size: 7em;
  margin: 0;
  align-content: center;
  padding: 0;
  text-decoration: overline solid #f0f3e8;
}

input {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

textarea {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.requiredField {
  color: red;
  font-size: 25px;
}
