@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.Goal {
  text-align: center;
  display: grid;
  grid-template-columns: .25fr .75fr;
}

.GiStairsGoal {
  font-size: 10em;
  margin-top: 50px;
  color: #854370;
}
