@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.Goal {
  text-align: center;
  display: grid;
  grid-template-columns: .25fr .75fr;
}

.GiStairsGoal {
  font-size: 10em;
  margin-top: 50px;
  color: #854370;
}

.setGoal {
  padding-left: 75%;
  padding-top: 15%;
  width: 500px;
}

#deleteGoalbtn {
  background-color: #8ac4a1;
  border: none;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
}

#deleteGoalbtn:hover {
  background-color: #715838;
  color: #ffffff;
}

.setGoal h2 {
  font-size: 2em;
}

#goalContentcol2 h2 {
  margin: 0;
  padding-top: 23px;
  font-size: 5em;
  padding-bottom: 17px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  background-color: #5d2e4e;
  border-bottom: 10px solid #8ac4a1;
}

#goalQuote {
  padding-top: 20px;
  font-size: 2em;
  opacity: 40%;
}

.quote {
  font-family: 'Amatic SC', cursive;
}

.col2Body {
  padding-top: 25px;
}

#goalTotal {
  font-size: 1.5em;
  font-weight: bold;
  color: #854370;
}

#booksRemaining {
  padding: 18px;
}

#goalContentcol1 li {
  list-style: none;
  text-align: left;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
}

#goalContentcol1 li:nth-child(odd) {
  background-color: #d8dad0;
}

#goalContentcol1 li:nth-child(even) {
  border-bottom: 1px solid lightgrey;
}

#goalContentcol1 {
  padding-top: 50px;
  background-color: #f0f3e8;
  min-height: 700px;
}

.Goal a {
  text-decoration: none;
  color: #715838;
  transition: 0.3s;
}

.Goal a:hover {
  color: #8ac4a1;
}
