@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.Goal {
  text-align: center;
  display: grid;
  grid-template-columns: .25fr .75fr;
}

.GiStairsGoal {
  font-size: 10em;
  margin-top: 50px;
  color: #854370;
}

.setGoal {
  padding-left: 75%;
  padding-top: 15%;
  width: 500px;
}

#deleteGoalbtn {
  background-color: #8ac4a1;
  border: none;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
  font-family: 'Raleway', sans-serif;
}
