@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Raleway:wght@100&display=swap');

.hero {
  background-color: #5d2e4e;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

.hero h1 {
  font-family: 'Original Surfer', cursive;
  font-size: 3em;
  color: #8ac4a1;
}

.hero p {
  font-size: 2em;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.getStarted {
  background-color: #8ac4a1;
  font-family: 'Raleway', sans-serif;
  border: none;
  padding: 18px;
  font-size: 1.2em;
  border-radius: 4px;
  transition: 0.3s;
}

.getStarted:hover {
  background-color: white;
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.contentGridcol {
  padding: 15px;
}

.contentGridcol p {
  line-height: 30px;
}

.contentGridcol h3 {
  color: grey;
  font-size: 1.5em;
}

.contentIcon {
  font-size: 10em;
  color: #5d2e4e;
  padding-left: 75px;
}

footer {
  height: 100px;
  background: #323232;
  width: 100%;
  bottom:0;
}

#copyright {
  color: #ffffff;
  padding-top: 40px;
  padding-left: 20px;
}
