.NavBar {
  text-align: right;
  border-bottom: 1px solid lightgrey;
  background-color: #416283;
  padding: 20px;
}

.NavBar > a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #8ac4a1;
}
