@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

.NavBar {
  text-align: right;
  background-color: #416283;
  padding: 15px;
  padding-bottom: 18px;
}

.NavBar > a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}

a:hover {
  color: #8ac4a1;
}

.GiRead {
  float: left;
  font-size: 1.6em;
  color: #8ac4a1;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

#logo {
  float: left;
  font-family: 'Original Surfer', cursive;
  font-size: 16px;
  padding-left: 20px;
  text-align: center;
  color: #8ac4a1;
}
