@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Raleway&display=swap');

.Note h1 {
  text-align: center;
  background: #f0f3e8;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #854370;
  font-family: 'Montserrat', sans-serif;
}

.Note p {
  margin: 50px 50px 10px 50px;
  line-height: 30px;
  margin-left: 100px;
  margin-right: 100px;
  border: 10px solid #b8dbc6;
  box-shadow: 0 0 0 7px #9b8a73;
  padding: 50px;
  border-radius: 10px;
  min-height: 275px;
  background: #fcfcfa;
  border-width: 5px;
}

.noteDeleteEdit {
  margin-left: 150px;
  font-size: 14px;
}

.noteDeleteEdit a {
  text-decoration: none;
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px 17px 10px 17px;
  transition: 0.3s;
  margin-right: 20px;
  color: black;
}

.noteDeleteEdit a:hover {
  color: #ffffff;
  background: #715838;
  cursor: pointer;
}

.noteDeleteEdit input {
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}

.noteDeleteEdit input:hover {
  color: #ffffff;
  background: #715838;
  cursor: pointer;
}
