@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Raleway&display=swap');

.Note h1 {
  text-align: left;
  background: #854370;
  margin: 0;
  padding: 12px 12px 12px 90px;
  color: #f0f3e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
  border-radius: 0 0 3px 3px;
  border-bottom: .5px solid #7f7f7f;
}

.Note p {
  margin: 50px 50px 10px 50px;
  line-height: 30px;
  margin-left: 100px;
  margin-right: 100px;
  border: 10px solid #b8dbc6;
  box-shadow: 0 0 0 7px #7f684b;
  padding: 50px;
  border-radius: 10px;
  min-height: 275px;
  background: #fcfcfa;
  border-width: 5px;
}

.noteDeleteEdit {
  margin-left: 150px;
  font-size: 14px;
}

.noteDeleteEdit a {
  text-decoration: none;
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px 17px 10px 17px;
  transition: 0.3s;
  margin-right: 20px;
  color: black;
}

.noteDeleteEdit a:hover {
  color: #ffffff;
  background: #715838;
  cursor: pointer;
}

.noteDeleteEdit input {
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}

.noteDeleteEdit input:hover {
  color: #ffffff;
  background: #715838;
  cursor: pointer;
}

.Note {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  min-height: 100vh;
}

#notecol1, #notecol3 {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  background-color: #a99a87;
  height: 100%;
}

#notecol1 {
  border-right: 1px solid #7f7f7f;
}

#notecol3 {
  border-left: 1px solid #7f7f7f;
}

#notecol1 a,
#notecol3 a {
  text-decoration: none;
  color: #4f2843;
  transition: 0.3s;
}

#notecol1 li {
  list-style: none;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

#notecol1 a:hover,
#notecol3 a:hover {
  color: #8ac4a1;
}

.Note h2 {
  font-size: 1.3em;
  color: #808080;
  text-align: center;
}

#notecol1 h3 {
  color: #ffffff;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.7em;
}

#notecol3 h3 {
  color: #ffffff;
  font-size: 1.7em;
}
