.NoteEditForm {
  text-align: center;
}

.NoteEditForm h1 {
  font-size: 3em;
  color: #854370;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.noteEditInputs {
  margin: 5px;
  font-family: 'Raleway', sans-serif;
}

#editNoteContent {
  padding: 20px;
  font-size: 1em;
  line-height: 22px;
}

#editNoteTitle {
  padding: 5px;
}

#editNotebtn {
  font-family: 'Raleway', sans-serif;
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
}

#editNotebtn:hover {
  color: #ffffff;
  cursor: pointer;
  background: #715838;
}
