.ReadingSessionNewForm {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#newReadingSessioncol1 {
  margin-left: 5%;
}

#newReadingSessioncol2 > h3 {
  text-align: center;
}

#newReadingSessioncol2 {
  min-height: 660px;
  max-height: 660px;
  overflow: auto;
  background-color: #f0f3e8;
}

.sessionNotes {
  margin: 5%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
