.ReadingSession {
  display: grid;
  grid-template-columns: .75fr 1.5fr;
  min-height: 700px;
}

.ReadingSession h1 {
  font-family: 'Montserrat', sans-serif;
  color: #854370;
}

.sessionStats {
  padding: 10px 20px 20px 30px;
  border-radius: 10px;
  border: 10px solid #b8dbc6;
  box-shadow: 0 0 0 7px #854370;
  border-width: 5px;
  margin-bottom: 50px;
  background: #fcfcfa;
}

.sessionCycle {
  padding-top: 25px;
}

.sessionDeletebtn {
  background-color: #8ac4a1;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: #715838;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.sessionDeletebtn:hover {
  color: #ffffff;
  background: #715838;
}

#nextReadingSession {
  background-color: #8ac4a1;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: #715838;
  font-size: 14px;
  transition: 0.3s;
}

#nextReadingSession:hover {
  background-color: #715838;
  color: #ffffff;
}

#readingSessioncol1 {
  text-align: left;
  background-color: #f0f3e8;
  padding: 10%;
}

.readingSessionNav {
  margin-top: 50px;
}

.sessionMainNav a {
  padding-right: 25px;
  text-decoration: none;
  color: #715838;
  transition: 0.3s;
}

.sessionMainNav a:hover {
  color: #8ac4a1;
}

#readingSessioncol2 {
  direction: rtl;
  max-height: 100vh;
  overflow: auto;
  text-align: left;
  padding-left: 20px;
  background-color: #5d2e4e;
  border-radius: 2px;
}

#previousReadingSession {
  background-color: #8ac4a1;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: #715838;
  font-size: 14px;
  transition: 0.3s;
}

#previousReadingSession:hover {
  color: #ffffff;
  background-color: #715838;
}

.readingSessionNote {
  margin: 30px;
  background-color: #fcfcfa;
  padding: 15px;
  border-radius: 10px;
  border: 10px solid #b8dbc6;
  box-shadow: 0 0 0 7px #7f684b;
  border-width: 5px;
  line-height: 28px;
}
