.ReadingSessionEditForm {
  text-align: center;
}

.ReadingSessionEditForm h1 {
  font-size: 3em;
  color: #854370;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  margin-top: 75px;
}

#editReadingSessionTitle {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.editFormContainer {
  font-size: 20px;
}

#editReadingSessiobtn {
  font-family: 'Raleway', sans-serif;
  background: #8ac4a1;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: 0.3s;
}

#editReadingSessiobtn:hover {
  color: #ffffff;
  cursor: pointer;
  background: #715838;
}
