.ReadingSessionNewForm {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#newReadingSessioncol1 {
  margin-left: 5%;
}

#newReadingSessioncol2 > h3 {
  text-align: left;
  padding: 25px;
  margin: 0;
}

#newReadingSessioncol2 {
  min-height: 660px;
  max-height: 660px;
  overflow: auto;
  background-color: #f0f3e8;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}

.ReadingSessionNewForm h1 {
  font-family: 'Montserrat', sans-serif;
  color: #854370;
}

.sessionNotes {
  margin: 30px;
  background-color: #fcfcfa;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 10px solid #b8dbc6;
  box-shadow: 0 0 0 7px #999999;
  border-width: 5px;
}

#addNotebtn {
  background-color: #8ac4a1;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

#addNotebtn:hover {
  background-color: #715838;
  color: #ffffff;
}
